.git
tmp
log
coverage
node_modules
vendor/bundle
.bundle
.env
.env.*
docker/redis-data
docker/postgres-data
**/__pycache__
**/*.pyc
**/.mypy_cache
**/.pytest_cache
**/deps
**/_build
**/.mix
**/.elixir_ls

